@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.projects-grid {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem;
}

.projects-grid::-webkit-scrollbar {
    width: 6px;
}

.projects-grid::-webkit-scrollbar-track {
    background: #f0f4fb;
}

.projects-grid::-webkit-scrollbar-thumb {
    background-color: #56b2e7;
    border-radius: 10px;
    border: 2px solid #f0f4fb;
}

.project-card {
    background-color: #f2f3f3;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(17, 63, 103, 0.1);
    display: flex;
    padding: 1.4rem;
    gap: 1rem;
    max-width: 600px;
    margin: auto;
    transition: transform 0.3s, box-shadow 0.3s;
    width: 600px;
    height: 200px;
}

.project-card:hover {
    transform: scale(1.03);
    box-shadow: 0 6px 12px rgba(17, 63, 103, 0.15);
}

.project-image {
    width: 155px;
    height: 155px;
    border-radius: 10px;
    object-fit: cover;
}

.project-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project-title {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: #113f67;
    margin: 0;
}

.project-about {
    font-family: "Montserrat", sans-serif;
    font-size: 0.9rem;
    color: #6b7a8f;
    margin: 0.2rem 0;
}

.project-technologies {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 0.5rem;
}

.tech-badge {
    background-color: #113f67;
    color: #fff;
    padding: 0.2rem 0.4rem;
    border-radius: 15px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.9rem;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.tech-badge i {
    font-size: 1rem;
}

.tech-badge:hover {
    background-color: #0056b3;
}

.project-links {
    margin-top: 1.5rem;
    display: flex;
    gap: 0.5rem;
}

.project-link {
    font-size: 1.5rem;
    color: #0056b3;
    transition: color 0.3s;
    text-decoration: none;
}

.project-link.github:hover {
    color: #333;
}

.project-link.medium:hover {
    color: #00ab6c;
}
